<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>nvk3</title>
	<link rel="stylesheet" href="../style/style.css">

	<style>
		.admin-box{
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			text-align: center;
			margin-top: 20px;
		}
		.admin-box span{
			margin-bottom: 20px;
		}
	</style>
	
</head>
<body class="page-body">
	<table id="layout">
		<tr>
			<td>
				<div class="images-block">
					<h2 class="images-block__title">
						<strong>Зображення</strong>
						<img class="images-block__img" src="../images/adminPage/img1.jpg" alt="Administration">
						<img class="images-block__img" src="../images/adminPage/img2.jpg" alt="Administration">
					</h2>
				</div>
			</td>
			<td>
				<div class="info">
					<h2 class="info__title">
						<strong>Адміністрація НВК № 3</strong>
					</h2>
					<div class="admin-box">
						<img src="../images/adminPage/img3.jpg" alt="admin">
						<p>Бабак Лілія Вячеславівна – директор НВК № 3.
							<br>
							Предмет – фізика, природознавство, спеціаліст вищої категорії, «учитель-методист»
						</p>
						<img src="../images/adminPage/img4.jpg" alt="admin">
						<p>
							Боднар Руслана Станіславівна – заступник директора з навчально-виховної роботи.
							<br>
							Предмет – основи здоров’я, спеціаліст вищої категорії, «старший учитель»
						</p>
						<img src="../images/adminPage/img5.jpg" alt="admin">
						<p>
							Конончук Наталія Петрівна – заступник директора з виховної роботи.
							<br>
							Предмет – біологія, спеціаліст вищої категорії, «старший учитель»
						</p>
						<img src="../images/adminPage/img6.jpg" alt="admin">
						<p>
							Михальчук Марина Віталіївна - заступник директора з навчально-виховної роботи.
							<br>
							Предмет - українська мова і література, зарубіжна література, спеціаліст другої категорії
						</p>
						<img src="../images/adminPage/img7.jpg" alt="admin">
						<p>
							Янчевська Аліна Анатоліївна – заступник директора з навчально-виховної роботи школи І ступеня.
							<br>
							Практичний психолог, спеціаліст вищої категорії
						</p>
					</div>
				</div>
			</td>
			<td width="250px">
				<div class="menu" id="menu">
					<span class="menu__title">
						<strong>Меню сайта</strong>
					</span>
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" href="../index.html">Головна сторінка</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./director.html">Сторінка директора</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./history.html">Історія закладу</a>
						</li>
						<li class="menu__item">
							<a class="menu__link menu__link-active" href="#">Адміністрація</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./upbringing.html">Виховання</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="footer">
					<div class="footer__left">
						<span class="copy">Шепетівський НВК №3 © 2023.</span>
						<a href="https://www.ucoz.net/">
							<img style="width:80px; height:15px;" src="../images/68.gif" alt="68">
						</a>
					</div>
					<div class="footer__right">
						<div class="soc-box">
							<a class="soc-vk" href="https://cdn.kyivstar.ua/sites/default/files/lock_sites/index_2017.html" target="_blank">
								<img src="../images/vk.svg" alt="vk">
							</a>
							<a class="soc-fc" href="https://www.facebook.com/groups/1419230665107424" target="_blank">
								<img src="../images/facebook.svg" alt="facebook">
							</a>
							<a class="soc-tw" href="https://twitter.com/" target="_blank">
								<img src="../images/twitter.svg" alt="twitter">
							</a>
							<a class="soc-od" href="http://www.odnoklassniki.ru/" target="_blank">
								<img src="../images/odnoklassniki.svg" alt="odnoklassniki">
							</a>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>