<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>nvk3</title>
	<link rel="stylesheet" href="../style/style.css">
</head>
<body class="page-body">
	<table id="layout">
		<tr>
			<td>
				<div class="images-block">
					<h2 class="images-block__title">
						<strong>Зображення</strong>
					</h2>
					<img class="images-block__img" src="../images/historyPage/Shkola.jpg" alt="Shkola">
					<img class="images-block__img" src="../images/historyPage/gerbu.jpg" alt="gerbu">
					<img class="images-block__img" src="../images/historyPage/istor.jpg" alt="istor">
					<img class="images-block__img" src="../images/historyPage/gerb.jpg" alt="gerb">
					<img class="images-block__img" src="../images/historyPage/27364892.jpg" alt="gerb">
					<img class="images-block__img" src="../images/historyPage/91144472.jpg" alt="gerb">
				</div>
			</td>
			<td>
				<div class="info">
					<h2 class="info__title">
						<strong>З історії заснування</strong>
					</h2>
					<p>Будівництво школи було розпочато у 1965 р., робота тривала 2 роки.&nbsp; 5-го листопада 1967 року було перерізано символічну стрічку і до навчального закладу зайшли перші учні та перші педагоги.
						<br>
						У вересні 1978 року школу було перейменовано у середню школу №7.
						<br>
						У вересні 1979 року Рада Міністрів Української РСР постановила присвоїти ім’я українського радянського письменника Натана Рибака середній школі №7 і надалі іменувати її – Шепетівська загальноосвітня школа №7 імені Натана Рибака.<br>
						Серед творів цього українського письменника відомими є «Переяславська Рада», «Час сподівань та&nbsp; звершень», багато інших.
						<br>
						З ряду документів, які вдалось відшукати, дізналися, що наш земляк брав актив&shy;ну участь в суспільно&shy;му житті міста, був комсомольським акти&shy;вістом. Тут, у Шепетів&shy;ці, писалися його перші твори, книги.
					</p>
					<p>
						Навчально-виховний комплекс №3 у складі " Загальноосвітня школа I-III ступенів ім. Н.Рибака та ліцей з посиленою військово-фізичною підготовкою" (Колишня середня школа № 11).
						<br>
						5 листопада 1967 року було перерізано символічну стрічку і до навчального закладу - школи №11 зайшли перші учні та перші педагоги. Понад 860 учнів сіли за його парти.
						<br>
						Кожен із нас, звертаючись до минулого, неодмінно згадує того, про кого хочеться сказати: « Він створив нас, нашу школу». В одинадцятій - це перший директор Олександр Михайлович Рожепа – фронтовик, ветеран Великої Вітчизняної війни. Поряд із ним на шкільний поріг вступили вчителі :
					</p>
					<ul>
						<li>Євгена Семенівна Августинович (вчитель початкових класів)</li>
						<li>Валентина Володимирівна Шпаченко (вчитель біології)
						<li>Лідія Павлівна Пічик (вчитель історії)
						<li>Володимир Романович Янішевський (вчит трудового навчання ).</li>
						<li>Ніна Денисівна Макуха (завуч школи),</li>
						<li>Марія Яківна Шулик (вчитель української мови та літератури),</li>
						<li>Галина Петрівна Вознюк (вчитель фізичного виховання),</li>
						<li>Володимир Антонович Доровський (вчитель музики і співів),</li>
						<li>Любов Василівна Горбарук (вчитель трудового навчання),</li>
						<li>Ганна Назарівна Суддя (вчитель початкових класів),</li>
						<li>Валентина Юхимівна Вільбіцька (вчитель початкових класів),</li>
						<li>Орест Володимир Мороз (вчитель хімії),</li>
						<li>Таїсія Петрівна Терещук (вчитель початкових класів),</li>
						<li>Надія Іванівна Купра (вчитель трудового навчання),</li>
						<li>Марія Терентіївна Васильченко (вчитель початкових класів),</li>
						<li>Марія Семенівна Якимова (вчитель математики),</li>
						<li>Марія Федорівна Попова ( вчитель початкових класів),</li>
						<li>Світлана Василівна Шевчук (вчитель початкових класів),</li>
						<li>Олена Гаврилівна Швець (вчитель німецької мови),</li>
						<li>Ангеліна Пилипівна Гамлюк (вчитель російської мови),</li>
						<li>Володимир Михайлович Шпаченко (вчитель фізики ),</li>
						<li>Тамара Олексіївна Левицька ( вчитель початкових класів),</li>
						<li>Ніла Іванівна Стеценко ( бібліотекар школи),</li>
						<li>Людмила Василівна Бабкіна (вчитель російської мови),</li>
						<li>Софія Калістратівна Осадовська ( вчитель початкових класів),</li>
						<li>Михайло Антонович Кравчук ( вчитель трудового навчання),</li>
						<li>Володимир Антонович Мазуренко ( вчитель української мови і літератури),</li>
						<li>Ніла Іванівна Стеценко ( бібліотекар школи).</li>
					</ul>
					<p>
						Саме їм, тим першим вчителям, довелося створити душу школи, оживляти її.
						<br>
						А була побудована школа №11 у малонаселеному районі міста, на пустирі. Вони, сьогоднішні ветерани, формували лице школи: оформляли кабінети, стенди, укомплектовували класи меблями.
						<br>
						Новою віхою наступного десятиріччя був 1979 рік. Адміністративна естафета передається директору школи Яковлєвій Наталії Іванівні, через рік - Черпіті Івану Митрофановичу.
						<br>
						3 січня 1981 року – знаменна подія. Школа міняє свій номер з 11 на № 7, і їй присвоєно звання українського письменника Натана Рибака, відкрито музей.
						<br>
						Естафета зміни адміністрації школи відбулася в 1991 році. Школу очолила Неля Йосипівна Бунечко. Заступниками директора школи були Валентина Костянтинівна Глєбова, Марія Феодосіївна Фіголь, Наталія Олександрівна Григор’єва, Лариса Романівна Данькевич, Анатолій Миколайович Кондратюк, Галина Іванівна Піголь, Олег Миколайович Попович.
						<br>
						1991 рік - пік. У школі навчається 1505 учнів. Акселерація вимагає переходу на навчання дітей з 6-річного віку. Новий директор повністю віддається роботі. Проводиться капітальний ремонт спортивного залу, їдальні і актового залу, фойє і коридорів школи. Перебудовується приміщення, з різних підсобних куточків з’являються нові кабінети, класи, майстерні. Це лінгафонний кабінет для початкових класів, радіо-клас – де діють гуртки радіотелеграфістів, радіоконструкторів та факультатив з радіоелектроніки. Розширюється і обладнується приміщення під бібліотеку з читальним залом. Знаходиться приміщення для художньої студії, кабінету музики і співів. Школа набуває нового сучасного естетичного вигляду. Значно поповнюється матеріально-технічна база. 
						<br>
						Науково-технічний прогрес знаходить своє відображення у першому комп’ютерному класі, який було обладнано у 1993 році.
						<br>
						Однак, ностальгія примушує згадати шкільні форми замість джинсів, шкільні портфелі замість пакетів. 1997 рік. Усі кафедри сумлінно опрацьовують нові «Стандарти освіти». В навчально-виховний процес включаються усі аспекти цивілізованої освіти. Відкриваються класи з поглибленим вивченням іноземних мов, інших навчальних предметів. З’являються клуби за інтересами , студії, Мала академія наук (МАН). Це були роки дуже насиченої і клопіткої роботи колективу. Все набуте в ці роки стало основною базою на подальші роки роботи школи. 
						<br>
						У 1998 році педагогічний колектив очолив Попович Олег Миколайович .
						<br>
						На межі тисячоліть ЗОШ №7 міняє назву, народжується Шепетівський навчально-виховний комплекс №3 у складі « Загальноосвітня школа I-III ступенів ім. Н. Рибака та ліцей з посиленою військово-фізичною підготовкою».
						<br>
						2002 рік - за кермом закладу Неля Йосипівна Бунечко. 
						<br>
						Поповнюється матеріально-технічна база. Удосконалюється методи і напрямки навчально-виховної роботи, проводиться науково-дослідницька, інноваційна та експериментальна діяльність вчителів і учнів. Апробуються новітні напрямки навчального процесу, з’являються нові розробки методик і посібники для учнів, виготовлені педагогами закладу. Налагоджується тісна співпраця з вищими навчальними закладами України.
						<br>
						2006 рік. НВК №3 очолює Павло Михайлович Корнатовський.
						<br>
						Педагогічний колектив у співпраці з учнівською та батьківською громадою працює над вирішенням проблеми: «Високий рівень самовдосконалення педагога як засіб формування творчої активності шкільного колективу та позитивного іміджу закладу».
						<p>2013 рік - заклад очолює Бабак Лілія Вячеславівна</p>
					</p>
				</div>
			</td>
			<td width="250px">
				<div class="menu" id="menu">
					<span class="menu__title">
						<strong>Меню сайта</strong>
					</span>
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" href="../index.html">Головна сторінка</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./director.html">Сторінка директора</a>
						</li>
						<li class="menu__item">
							<a class="menu__link menu__link-active" href="#">Історія закладу</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./administration.html">Адміністрація</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./upbringing.html">Виховання</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="footer">
					<div class="footer__left">
						<span class="copy">Шепетівський НВК №3 © 2023.</span>
						<a href="https://www.ucoz.net/">
							<img style="width:80px; height:15px;" src="../images/68.gif" alt="68">
						</a>
					</div>
					<div class="footer__right">
						<div class="soc-box">
							<a class="soc-vk" href="https://cdn.kyivstar.ua/sites/default/files/lock_sites/index_2017.html" target="_blank">
								<img src="../images/vk.svg" alt="vk">
							</a>
							<a class="soc-fc" href="https://www.facebook.com/groups/1419230665107424" target="_blank">
								<img src="../images/facebook.svg" alt="facebook">
							</a>
							<a class="soc-tw" href="https://twitter.com/" target="_blank">
								<img src="../images/twitter.svg" alt="twitter">
							</a>
							<a class="soc-od" href="http://www.odnoklassniki.ru/" target="_blank">
								<img src="../images/odnoklassniki.svg" alt="odnoklassniki">
							</a>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>