<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>nvk3</title>
	<link rel="stylesheet" href="../style/style.css">

	<style>
		.upbringing ul,
		.upbringing__text{
			font-size: 15px;
		}
	</style>

</head>
<body class="page-body">
	<table id="layout">
		<tr>
			<td width="350px">
				<div class="images-block">
					<h2 class="images-block__title">
						<strong>Зображення</strong>
					</h2>
					<img class="images-block__img" src="../images/upbringingPage/img1.jpg" alt="children">
					<img class="images-block__img" src="../images/upbringingPage/img4.jpg" alt="children">
					<img class="images-block__img" src="../images/upbringingPage/img6.jpg" alt="children">
					<img class="images-block__img" src="../images/upbringingPage/img7.jpg" alt="children">
					<img class="images-block__img" src="../images/upbringingPage/img8.jpg" alt="children">
				</div>
			</td>
			<td>
				<div class="info">
					<div class="upbringing">
						<p class="upbringing__text">
							Виховання – багатогранний і складний процес, значення якого неможливо переоцінити. Він передбачає формування у дитини єдиної системи цінностей і соціальних компетенцій.
							<br>
							А це і ставлення до себе і своїх батьків, відношення до природи, суспільства, своєї країни тощо. Метою виховної роботи школи є виховання громадянина України – носія цінностей та загальнолюдських надбань.
						</p>
						<h2 class="upbringing__title">
							<strong>Виховна система НВК №3 передбачає реалізацію наступних завдань:</strong>
						</h2>
						<ul>
							<li>Виховання відповідального ставлення до навчання та до праці, розширення політехнічного кругозору й підготовка до свідомого вибору професії.</li>
							<li>Формування в учнів естетичної культури, розвиток умінь створювати прекрасне навколо себе, розвиток художніх здібностей і талантів дітей.</li>
							<p>Для реалізації цих завдань у школі розроблений план виховної роботи навчального закладу та окремі плани класних керівників, які були затверджені на засіданні методичного об’єднання класних керівників. Ці плани охоплюють всі напрямки виховання: патріотичне, правове, моральне, художньо-естетичне, трудове, фізичне, екологічне, превентивне та включають у себе календарні, традиційні шкільні свята, заходи, конкурси, міські заходи щодо втілення національної програми «Діти України», «Комплексної програми профілактики злочинності і бездоглядності», «Програми профілактики ВІЛ-інфекції», «Національної програми виховання учнів 1-11 класів», заходи щодо зміцнення моральності та утвердження здорового способу життя та ін.</p>
							<li>Екскурсії на підприємства міста, до місцевого краєзнавчого музею, містами України.</li>
							<li>Бібліотечні дні, літературні конференції, інтелектуальні конкурси.</li>
							<li>Бесіди, лекції, робота НВК №3  «Ввічливих малят»; корекційно-виховні заходи.</li>
							<li>Співпраця із громадськими організаціями; правові лекторії і вікторини.</li>
							<li>Спортивні змагання, спартакіади з футболу та баскетболу, походи в довкілля, дні здоров’я, шкільні туристичні змагання.</li>
							<p>Виховна система ліцею заснована на інтеграції урочної та позаурочної діяльності, взаємодії ліцею з громадськими організаціями, єдиного соціального замовлення сім'ї, вихованців, суспільства.</p>
							<p>Для досягнення поставленої мети в галузі виховання педагогічним колективом ліцею вирішуються завдання:</p>
							<li>по створенню сприятливих умов для інтелектуального, духовного, морального, фізичного розвитку вихованців;</li>
						</ul>
					</div>
				</div>
			</td>
			<td width="250px">
				<div class="menu" id="menu">
					<span class="menu__title">
						<strong>Меню сайта</strong>
					</span>
					<ul class="menu__list">
						<li class="menu__item">
							<a class="menu__link" href="../index.html">Головна сторінка</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./director.html">Сторінка директора</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./history.html">Історія закладу</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="./administration.html">Адміністрація</a>
						</li>
						<li class="menu__item">
							<a class="menu__link menu__link-active" href="#">Виховання</a>
						</li>
					</ul>
				</div>
			</td>
		</tr>
		<tr>
			<td colspan="3">
				<div class="footer">
					<div class="footer__left">
						<span class="copy">Шепетівський НВК №3 © 2023.</span>
						<a href="https://www.ucoz.net/">
							<img style="width:80px; height:15px;" src="../images/68.gif" alt="68">
						</a>
					</div>
					<div class="footer__right">
						<div class="soc-box">
							<a class="soc-vk" href="https://cdn.kyivstar.ua/sites/default/files/lock_sites/index_2017.html" target="_blank">
								<img src="../images/vk.svg" alt="vk">
							</a>
							<a class="soc-fc" href="https://www.facebook.com/groups/1419230665107424" target="_blank">
								<img src="../images/facebook.svg" alt="facebook">
							</a>
							<a class="soc-tw" href="https://twitter.com/" target="_blank">
								<img src="../images/twitter.svg" alt="twitter">
							</a>
							<a class="soc-od" href="http://www.odnoklassniki.ru/" target="_blank">
								<img src="../images/odnoklassniki.svg" alt="odnoklassniki">
							</a>
						</div>
					</div>
				</div>
			</td>
		</tr>
	</table>
</body>
</html>